*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f2ec;
    font-family:Arial,sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.container{
    width:900px;
    max-width:90%;
    min-height:450px;

    margin-top:40px;
    padding:40px;

    background:#ececec;
    border:10px solid #4c652d;
    border-radius:35px;

    display:flex;
    flex-direction:column;
    gap:20px;
}

label{
    font-size:22px;
    font-weight:bold;
    color:#264500;
}

select,
input{
    padding:12px;
    font-size:18px;
    border:2px solid #264500;
    border-radius:10px;
}

.confirm-btn{
    margin-top:25px;
    margin-bottom:30px;

    background:#264500;
    color:white;

    border:none;
    border-radius:25px;

    padding:15px 60px;
    font-size:24px;
    font-weight:bold;

    cursor:pointer;
}

.confirm-btn:hover{
    background:#356600;
}