@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* hej */

body{
    background:#f4f2ec;
    min-height: 100vh;
    overflow:hidden;
    position:relative;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.logo{
    color:#304f00;
    font-size:2rem;
    font-weight:700;
}

.login-btn{
    background:#2f5500;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
    font-weight:700;
}

.login-btn:hover{
    background:#406f00;
}

/* Main */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

main h2{
    color:#264500;
    font-size:3rem;
    margin-bottom:25px;
}

.search-box{
    display:flex;
    align-items:center;
    width:800px;
    max-width:90vw;
    background:white;
    border:5px solid #264500;
    border-radius:50px;
    overflow:hidden;
}

.search-box input{
    flex:1;
    border:none;
    outline:none;
    padding:15px 20px;
    font-size:1.1rem;
}

.search-box button{
    border:none;
    background:none;
    padding:0 20px;
    cursor:pointer;
    font-size:1.4rem;
}

.buttons{
    margin-top:25px;
    display:flex;
    justify-content:center;
    gap:25px;
}

.buttons button{
    background:#264500;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:25px;
    font-weight:700;
    cursor:pointer;
}

.buttons button:hover{
    background:#396600;
}
/* Przycisk hamburgera */
#menuBtn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 32px;
    cursor: pointer;
    z-index: 1001;
    user-select: none;
}

/* Panel boczny */
#sidebar {
    position: fixed;
    top: 0;
    left: -16.66vw; 
    width: 16.66vw; 
    height: 100vh;
    background-color: #81926a;
    transition: left 0.3s ease;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

/* Po otwarciu */
#sidebar.active {
    left: 0;
}

/* Linki */
#sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 18px;
}

#sidebar a:hover {
    background-color: #34495e;
}

