@import url(../main.css);

body{
    margin:0;
}

.quiz-container{
    max-width:900px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:20px;
    border: 4px var(--primary-color) solid;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

h1{
    color:#33411C;
}

.question{
    margin-bottom:25px;
    padding:20px;
    border:1px solid #ddd;
    border-radius:15px;
}

.question h3{
    margin-top:0;
}

.answer{
    display:block;
    margin:10px 0;
    cursor:pointer;
}

#finishBtn{
    width:100%;
    padding:15px;
    border:none;
    background:#33411C;
    color:white;
    font-size:18px;
    border-radius:12px;
    cursor:pointer;
}

#finishBtn:hover{
    background:#4B5E28;
}

#quizResult{
    margin-top:20px;
    font-size:22px;
    font-weight:bold;
    text-align:center;
}

.correct-answer{
    background:#d4edda;
    border:2px solid #28a745;
    border-radius:10px;
    padding:8px;
}

.selected-wrong{
    background:#f8d7da;
    border:2px solid #dc3545;
    border-radius:10px;
    padding:8px;
}

.back{
    cursor: pointer;
}

.materials-drawer{
    position: fixed;
    top: 50%;
    right: -320px;
    transform: translateY(-50%);

    width: 300px;
    height: 70vh;

    background: white;

    border: 3px solid #33411C;
    border-radius: 10px 0 0 10px;

    box-shadow: -5px 0 20px rgba(0,0,0,.15);

    transition: right .35s ease;

    z-index: 5000;
}

.materials-drawer.open{
    right: 0;
}

.drawer-toggle{
    position: absolute;

    left: -45px;
    top: 50%;

    transform: translateY(-50%);

    width: 45px;
    height: 100px;

    background: #33411C;
    color: white;

    font-size: 28px;
    font-weight: bold;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius: 15px 0 0 15px;

    cursor:pointer;
}

.drawer-content{
    padding:20px;
}

.drawer-content h2{
    color:#33411C;
    margin-bottom:20px;
}

header{
  position:relative;
  z-index:2;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 22px 36px;
}

.menu-btn{
  color: var(--primary-color);
  top: 15px;
  left: 15px;
  font-size: 32px;
  cursor: pointer;
  z-index: 1001;
  user-select: none;
}

#likeBtn {
    filter: invert(50%)  drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
    cursor: pointer;
    transition: all 0.2s ease;
}

#likeBtn:hover {
    transform: scale(1.2);
}

#likeBtn:active {
    transform: scale(0.9);
}

#likeBtn.active {
    filter: brightness(0) saturate(100%) invert(29%) sepia(27%) saturate(3457%) hue-rotate(341deg) brightness(93%) contrast(92%) drop-shadow(0px 0px 5px #b23b2e7a);
}
.like-btn {
    display: flex;
    flex-direction: row-reverse;
}


.note-tags{
    display:flex;
    flex-wrap:wrap;
    gap:6px;
    margin:10px 0;
}

.tag{
    background:var(--hover-light);
    color: var(--primary-color);
    padding:4px 10px;
    margin: 5px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
}

#tags {
    margin: 10px 0;
}

.title p {
    margin: 0 6px;
}
#quizTitle {
    border-bottom: 2px var(--hover-light) solid;
    /* padding: 0 15px; */
    /* border-radius: 15px; */
    color: var(--primary-color);
    font-size: 40px;
    margin: 0 5px;
    text-transform: capitalize;
    
}


.author {
    line-height: 5px;
    margin: 20px 5px;
}